/* -----------------------------------------------
* CPQ Modern Cart
*  -----------------------------------------------
*/

/* cart body */

div#pl_carrinhoHTML {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 3px 15px 0 rgba(2, 2, 2, 0.15);
}

#pipeline-viewer-opener {
  display: none;
}

#modernCPQCart {
    width: 100%;
    min-height: 65px;
    z-index: 4;
    padding: 0px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 rgba(2, 2, 2, 0.15);
    border: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: #dbdbdb;
    border-style: solid;
}

body {
  margin-top: 63px;
}


/* sections */

nav#modernCPQCart .navbar-nav {
  list-style: none;
  margin: 0px;
  width: 100%;
}

nav#modernCPQCart .nav-item {
  width: 33%;
}

.descSection {
  float: left;
}

h1.sectionDesc {
  font-size: 20px;
  margin: 0px;
}

p.sectionSubDesc {
  margin: 0px;
}

/* addons section */

#addonSection .dropdown-menu {
  width: 100%;
  visibility: hidden;
  margin-top: 0px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#addonSection:hover .dropdown-menu {
  visibility: visible;
}

#addonSection i {
  margin-top: 20px;
  margin-left: 20px;
}

#addonSection:hover i {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* arrows */

i.cartArrowDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i.cartArrowUp {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i.cartArrowLeft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.cartArrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* left label */

.navbar-brand a {
  text-decoration: none;
  float: left;
}

.navbar-brand i.cartArrow {
  margin-left: 15px;
  margin-top: 10px;
  padding: 8px;
}

.navbar-brand img {
  margin-left: 1rem;
  float: left;
}

/* price label */

.priceText {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: auto;
  justify-content: flex-end;
  padding-right: 90px;
}

h1.cartPriceLabel.priceInteger {
  font-size: 32px;
  vertical-align: bottom;
  font-weight: normal;
  margin: auto;
}

h2.cartPriceLabel.priceDecimal {
  font-size: 16px;
  margin: auto;
  font-weight: normal;
}

p.priceMonth {
  font-size: 8px;
  margin: auto;
  font-weight: normal;
  font-family: simplon_oiheadline;
}

p.priceReais {
  margin: auto;
  margin-bottom: 3px;
}

.cartPriceBigLabel {
  display: flex;
  align-items: baseline;
}

.cartPriceSmallLabel {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

h1.selectedPlanHeader {
  font-weight: normal;
  font-size: 24px;
  margin-left: 0.5em;
}

/* -----------------------------------------------
* Buttons CPQ
*  -----------------------------------------------
*/

#sticky-actions td.button-middle {
  width: 90px;
  height: 48px;
  border-radius: 4px;
  background-image: linear-gradient(#ffd700, #ffd700), linear-gradient(to top, #e7ad21, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
  pointer-events: unset;
}

#sticky-actions td.button-middle:active,
#sticky-actions td.button-middle:hover {
  background-color: #ffe93d !important;
  background-image: none;
  border-color: #ffe93d !important;
}

#sticky-actions td.button-middle:active a,
#sticky-actions td.button-middle:hover a {
  margin: 0px !important;
  color: #000000 !important;
}

#sticky-actions td.button-middle div {
  height: 48px;
}

#sticky-actions td.button-middle a {
  vertical-align: middle;
  line-height: 48px;
  display: inline;
  font-family: simplon_bpmedium;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}

/* -----------------------------------------------
* MOBILE
*  -----------------------------------------------
*/

#modernCPQCart .modernCPQCart-toggler {
  border: none;
  background: none;
  text-align: left;
  margin: 0;
  height: 65px;
  width: 100%;
  align-items: baseline;
}

#modernCPQCart .modernCPQCart-toggler .selectedPlanHeader h1 {
  font-size: 20px;
  font-weight: normal;
  margin: auto;
}

#modernCPQCart .modernCPQCart-toggler .priceSection {
  font-size: 24px;
  font-weight: normal;
  height: auto;
  font-family: simplon_oiheadline;
  margin: auto;
  display: none;
}

.modernCPQCart-toggler.togglerExpanded h1:after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.selectedPlanHeader {
  padding-right: 0;
  margin: auto;
  margin-left: 0;
}

/* -----------------------------------------------
* Overlay
*  -----------------------------------------------
*/

#modernCPQCart-Overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex: auto;
  flex-direction: column;
  -webkit-transition: height 0.5s ease 0s;
  -moz-transition: height 0.5s ease 0s;
  transition: height 0.5s ease 0s;
}

#modernCPQCart-Overlay.cartOverlayOpened {
  height: 100%;
}

/* --- header --- */

#modernCPQCart-Overlay .overlayHeader {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

#modernCPQCart-Overlay button.modernCPQCart-toggler {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  margin-top: 10px;
}

#modernCPQCart-Overlay button.modernCPQCart-toggler p {
  margin: 0px;
}

#modernCPQCart-Overlay button.modernCPQCart-toggler h1 {
  margin: 0;
  text-align: left;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: normal;
}

button#modernCPQCart-OverlayClose {
  display: block;
  border: none;
  background: none;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}

button#modernCPQCart-OverlayClose img {
  width: 14px;
  height: 14px;
}

#modernCPQCart-Overlay .modernCPQCart-toggler:after {
  content: "";
  background-image: url(../oi_imagens/icon-seta-expandir-laranja.png);
  background-size: 12px 8px;
  background-repeat: no-repeat;
  height: 8px;
  width: 12px;
  margin-left: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  display: inline-block;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#modernCPQCart-Overlay .modernCPQCart-toggler.plans-collapsed:after {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

#modernCPQCart-Overlay p.selectedOfferPrice {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

/* --- sections --- */

#modernCPQCart-Overlay .overlayContent {
  padding-top: 1em;
  padding-bottom: 1em;
  flex-grow: 1;
  overflow-y: auto;
}

#modernCPQCart-Overlay .overlayContentSection {
  border-top: 1px solid #f5f5f5;
  padding-top: 1em;
  padding-bottom: 1em;
}

#modernCPQCart-Overlay .overlayContentSection h1 {
  font-size: 12px;
  font-weight: normal;
}

#modernCPQCart-Overlay .overlayContentSection p {
  margin: 0;
  float: right;
}

#modernCPQCart-Overlay .overlayContentSection .sectionsubItem {
  border-bottom: 1px solid #dbdbdb;
  display: inline-block;
}

#modernCPQCart-Overlay .overlayContentSection .sectionsubItem:hover {
  color: unset;
  text-decoration: none;
}

#modernCPQCart-Overlay .sectionsubPrice {
  text-align: right;
}

#modernCPQCart-Overlay .overlaySection {
  padding-left: 20px;
  padding-right: 20px;
}

/* dependents */

#modernCPQCart-Overlay ul.sectionList {
  list-style: none;
  margin: 0;
}

/* plans */

#modernCPQCart-Overlay .plansSection {
  height: 100%;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  background: #f5f5f5;
  overflow: hidden;
}

#modernCPQCart-Overlay .plansSection.plans-collapsed {
  height: 0;
}

#modernCPQCart-Overlay .plansList {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: block;
  pointer-events: auto;
}

#modernCPQCart-Overlay button.planButton h1 {
  margin: 0;
  display: inline-block;
  width: 50%;
  text-align: left;
  padding: 0.5em;
  font-weight: normal;
  font-size: 16px;
}

#modernCPQCart-Overlay button.planButton p {
  margin: 0;
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 15px;
}

#modernCPQCart-Overlay button.planButton {
  border: 1px solid #dbdbdb;
  background: transparent;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5em;
  padding: 0;
  cursor: pointer;
}

#modernCPQCart-Overlay button.planButton.offerSelected {
  border: solid 1px transparent;
  background-image: linear-gradient(#f5f5f5, #f5f5f5), linear-gradient(279deg, #fe6b03, #e33465);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#modernCPQCart-Overlay button.planButton.offerSelected h1,
#modernCPQCart-Overlay button.planButton.offerSelected p {
  background-image: linear-gradient(289deg, #fe6b03, #e33465);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --- footer --- */

#modernCPQCart-Overlay .overlayFooter {
  width: 100%;
  padding-bottom: 80px;
  padding-top: 15px;
  border-top: 1px solid #dbdbdb;
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 0;
}

#modernCPQCart-Overlay .overlayFooter .priceSectionLabel {
  margin-right: auto;
}

#modernCPQCart-Overlay .overlayFooter .priceSection {
    margin-right: 0;
    text-align: right;
}

#modernCPQCart-Overlay .footerPriceSection {
  display: flex;
  align-items: flex-end;
}

/* --- CPQ Buttons --- */

.button-bar.stickBottom {
  bottom: 0;
  top: auto;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 6;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.button-bar.stickBottom .button-middle {
  bottom: 0;
  top: auto;
}

.button-bar.stickBottom div#sticky-actions {
  padding: 0;
  display: inline-block;
  width: 100%;
}

.button-bar.stickBottom #sticky-actions .plain-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-bar.stickBottom #sticky-actions .button-middle {
  width: auto;
  height: 48px;
}

.button-bar.stickBottom #sticky-actions .buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
}

/* --- OverlayMask --- */

#pl_carrinhoHTML .offerDialog-overlayMask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: #000000;
  z-index: 7;
  display: none;
}

#pl_carrinhoHTML .offerDialog-Container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  display: none;
  align-items: center;
}

div#offerDialog {
  background: #fff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
}

#pl_carrinhoHTML .offerDialog-Text {
  padding: 2em;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#pl_carrinhoHTML .offerDialog-ButtonContainer {
  height: 5em;
  display: inline-block;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#pl_carrinhoHTML .offerDialog-Button {
  display: inline-block;
  width: 50%;
  height: 100%;
}

#pl_carrinhoHTML .offerDialog-Button button {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-background-clip: text;
  background-clip: text;
  color: #f8562c;
  /*-webkit-text-fill-color: transparent;*/
}

#pl_carrinhoHTML .offerDialog-Button:first-child {
  border-right: 1px solid #dbdbdb;
}

#pl_carrinhoHTML .offerDialog-Text h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#pl_carrinhoHTML .offerDialog-Text p {
  font-size: 14px;
  margin: 0;
  margin-top: 0.5em;
}

#pl_carrinhoHTML .offerDialog-Text:after {
  background-image: url(../oi_imagens/oi_bolha.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 106px;
  height: 150px;
  content: "";
  position: absolute;
  top: -110px;
  left: 50%;
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

/* -----------------------------------------------
* RESPONSIVE
*  -----------------------------------------------
*/

nav#modernCPQCart .modernCPQCart-desktopBar {
  display: none;
}

/* -------- desktop section ---------- */

.modernCPQCart-desktopBar {
  height: 100%;
  margin: auto;
}

.modernCPQCart-desktopItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modernCPQCart-desktopItem:first-child {
  margin-left: auto;
  margin-right: 0;
}

h2.sectionDesc {
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  display: inline-block;
}

a.sectionSubDesc {
  display: inline-block;
  border-bottom: 1px solid #dbdbdb;
}

a.sectionSubDesc:hover {
  display: inline-block;
  color: #f8562c;
  text-decoration: none;
  border-bottom: 1px solid #f8562c;
}

.plansSection.plansSection-expanded {
  display: none;
}

#modernCPQCart-Overlay .plansList div button.planButton:hover {
  border: solid 1px transparent;
  background-image: linear-gradient(#ffff, #ffff), linear-gradient(279deg, #fe6b03, #e33465);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* ----- 768 ----- */

@media (min-width: 768px) {


  body {
    margin-top: 80px;
  }

  #modernCPQCart-Overlay {
    margin-left: 36px;
    margin-right: 36px;
    width: 100%;
  }

  #modernCPQCart-Overlay button.planButton.offerSelected {
    background-image: linear-gradient(#fff, #fff), linear-gradient(279deg, #fe6b03, #e33465);
  }

  #modernCPQCart .modernCPQCart-toggler {
    padding-left: 36px;
    padding-right: 36px;
    height: 80px;
  }

  nav#modernCPQCart .modernCPQCart-desktopBar {
    display: flex;
  }

  .button-bar {
    right: 36px;
    height: 80px !important;
  }

  #sticky-actions td.button-middle {
    width: 96px;
  }

  div#sticky-actions {
    padding: 0;
  }

  #modernCPQCart {
    min-height: 80px;
  }

  #modernCPQCart .modernCPQCart-toggler .selectedPlanHeader h1 {
    font-size: 32px;
  }

  #modernCPQCart .modernCPQCart-toggler .selectedPlanHeader:after {
    display: inline-block;
    content: "";
    background-image: url(../oi_imagens/icon-seta-expandir-laranja.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 8px;
    width: 12px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  .selectedPlanHeader {
    display: flex;
    align-items: center;
    opacity: 0;
    margin: auto;
  }

  /* ---- overlay ---- */
  #modernCPQCart-Overlay {
    min-height: 80px;
    height: auto;
    background: transparent;
    left: 0;
    pointer-events: none;
    overflow: visible;
  }

  #modernCPQCart-Overlay .overlayHeader {
    margin: auto;
    margin-left: 0;
    display: flex;
    align-items: center;
    height: 100%;

  }

  #modernCPQCart-Overlay button.modernCPQCart-toggler h1 {
    margin-top: auto;
    margin-bottom: auto;
  }

  #modernCPQCart-Overlay .overlayContent {
    position: absolute;
    top: 80px;
    padding: 0;
    margin-top: 1px;
    border: none;
    left: -20px;
    box-shadow: 0 6px 15px 0 rgba(2, 2, 2, 0.15);
  }

  #modernCPQCart-Overlay .plansSection {
    min-width: 230px;
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #modernCPQCart-Overlay .plansList {
    padding: 24px;
    border-top-color: #f5f5f5;
    border-top-width: 2px;
    border-top-style: solid;
  }

  #modernCPQCart-Overlay button.planButton {
    align-items: center;
    display: flex;
  }

  #modernCPQCart-Overlay button.planButton p {
    width: auto;
    margin-right: 0;
    margin-left: auto;
  }

  #modernCPQCart-Overlay button.planButton h1 {
    font-size: 20px;
    width: auto;
  }

  button#modernCPQCart-OverlayClose {
    display: none;
  }

  #modernCPQCart-Overlay .overlaySection {
    display: none;
  }

  #modernCPQCart-Overlay .overlayFooter {
    display: none;
  }

  #modernCPQCart-Overlay p.selectedOfferPrice {
    display: none;
  }

  div#offerDialog {
    margin-left: auto;
    margin-right: auto;
  }

  /* ---- price ---- */
  #modernCPQCart h1.cartPriceLabel.priceInteger {
    font-size: 32px;
  }

  #modernCPQCart h2.cartPriceLabel.priceDecimal {
    font-size: 16px;
  }

  #modernCPQCart p.priceMonth {
    font-size: 8px;
  }

  #modernCPQCart p.priceReais {
    font-size: 16px;
    margin-bottom: 8px;
  }

  h2.sectionDesc {
    font-size: 12px;
  }

  a.sectionSubDesc {
    font-size: 14px;
  }

  #modernCPQCart-Overlay button.modernCPQCart-toggler {
    margin-top: 0;
  }

  .priceText {
    justify-content: flex-end;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 80px;
  }

  #modernCPQCart .modernCPQCart-toggler .priceSection {
    display: block;
  }

}

@media (min-width: 992px) {

  /* ---- price ---- */
  #modernCPQCart h1.cartPriceLabel.priceInteger {
    font-size: 48px;
  }

  #modernCPQCart h2.cartPriceLabel.priceDecimal {
    font-size: 24px;
  }

  #modernCPQCart p.priceMonth {
    font-size: 12px;
  }

  #modernCPQCart p.priceReais {
    font-size: 24px;
    margin-bottom: 8px;
  }

  h2.sectionDesc {
    font-size: 14px;
  }

  a.sectionSubDesc {
    font-size: 16px;
  }

  #sticky-actions td.button-middle {
    width: 184px;
  }

  .priceText {
    margin-right: 190px;
  }

}

/* ----- 1024 ----- */

@media (min-width: 1024px) {
  #modernCPQCart .modernCPQCart-toggler {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-bar {
    right: 44px;
  }

  div#sticky-actions {
    padding: 0;
  }

  /* ---- overlay ---- */
  #modernCPQCart-Overlay {
    margin-left: 44px;
    margin-right: 44px;
    width: 100%;
  }

  #modernCPQCart-Overlay .overlayContent {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

  #modernCPQCart-Overlay button.modernCPQCart-toggler h1 {
    margin-left: 12px;
  }
}

/* ----- 1366 ----- */

@media (min-width: 1366px) {

  #modernCPQCart-Overlay {
    max-width: 1224px;
    margin: auto;
    width: 100%;
    right: 0;
    left: 0;
  }

  #modernCPQCart .modernCPQCart-toggler {
    max-width: 1224px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    left: unset;
  }

  .button-bar {
    max-width: 1224px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  div#sticky-actions {
    padding: 0;
  }

  /* ---- overlay ---- */

  #modernCPQCart-Overlay .overlayHeader {
    width: 100%;
    max-width: 1224px;
  }

  #modernCPQCart-Overlay button.modernCPQCart-toggler h1 {
    margin: 0;
  }
}