@imagePath: "../../image/oi_imagens";
@radius: 4px;

@colors: {
    border: #dbdbdb;
    active: #f8562c;
    title: #222;
    light: #909090;
    shadow: rgba(2, 2, 2, .15);
    shadowText: rgba(248, 86, 44, 0.15);
    destak: #ffe93d;
    newDestak: #ffd700;
    variantDestak: #e7ad21;
    defaultDestak: gold;
    dark: #222;
    whiteMedDark: #f0f0f0;
    gray: #f5f5f5;
    focus: #fe6b03;
    variantFocus: #e33465;
    success: green;
};

@fonts: {
    regular: simplon_bpregular;
    oiheadline: simplon_oiheadline;
};

@sizes: {
    mobile: 768px;
    tablet: 1024px;
    desktop: 1200px;
    fullscreen: 1144px;
};

@mediaDesktop: ~"(min-width: 768px)";
@mediaDesktopFull: ~"(min-width: 1024px)";

@import "mixins";
@import "extends";