/*================================================
* Oferta Pos
* ================================================
*/
.bgOfer{
	background-color: #fff;
    margin: 0%;
	position: relative;
    width: 100%;
	margin-top: 60px;

} 

.appsOfer{
    padding: 0%!important;
    margin: 0%!important;
}

.appsOfer li{
    list-style: none;
}

#pl_bannerOfertas{
    overflow: hidden;

}

.arrowDown{
    margin-top: 2%;
    text-align: center;
}

.appsImgOfer{
    height: 48px;
    width: auto;
    min-width: 26px;
    margin-right: 16px;
}

.imgOfer{
	margin-left: auto;
    width: 100%;

}

.txtOfer{
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 0;
	margin-left: 20px;
    margin-right: 20px;
}

.appsImgFija{
	padding: 0;
}

.txtOfer .oi-sub-text-sm{
	margin-bottom: -5px;
    margin-top: 25px;
}

@media (min-width: 768px) {
	
	.bgOfer{
		margin-top: 75px;
	}

    .appsImgOfer{
        height: 56px;
		width: auto;
		min-width: 26px;
		margin-right: 14px;
    }

    titleOfer{
        width: 254px;
    }
	
    .arrowDownDesk{
        text-align: center;
        float: left;
        position: absolute;
        margin-top: -52px;
        margin-left: -74px;
    }

    .arrowDownDesk .oiSectionHeader-enlace{
        margin: 0px;
        display: inline;
    }

    .arrowDownDesk a{
        display: block;
    }

    .txtOfer{
        padding-left: 36px;
		margin-left: 0;
    }
	
    .appsImgFija{
        padding: 0px;
		height: auto;
		width: 100%;
		object-fit: contain;
		margin-top: 0px;
		min-width: 30px;
    }

    .txtOfer .oi-sub-text{
		margin: 0px;
		margin-bottom: 15px;
    }
	
	.txtOfer .oi-sub-text-sm{
		margin-top: 25px;
		margin-bottom: 5px;
	}

    .txtOfer .titleOfer{
        margin: 0px;
        margin-bottom: 16px;
    }

    #pl_bannerOfertas .imgOfer:after{
        content: "";
		background-image: url(../oi_imagens/ameba-detalhe-produto-1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: 9em;
		height: 9em;
		position: absolute;
		top: 205px;
		right: 175px;
		opacity: 0.9;
		transform: rotate(10deg);
    }

}

@media (min-width: 850px) {
	#pl_bannerOfertas .imgOfer:after{
		right: 225px;
	}
}

@media (min-width: 950px) {
	#pl_bannerOfertas .imgOfer:after{
		right: 255px;
	}
}

@media (min-width: 992px) {
	
	.bgOfer {
		padding: 0;
	}
 

    .txtOfer {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 360px;
		z-index: 1;
    }

    .txtOfer .titleOfer{
        width: 541px;
    }

    #pl_bannerOfertas .imgOfer:after{
		top: 40px;
		right: 168px;
		width: 11em;
		height: 11em;
		transform: rotate(158deg);
    }
	
	.bgOfer p:first-child{
		padding-top: 55px;
	}

}

@media (min-width: 1080px) { 
    
    #pl_bannerOfertas .imgOfer:after{
	    top: 50px;
		right: 185px;
    }
}

@media (min-width: 1100px) {
    .txtOfer{
        padding-left: 15px;
    }
}

@media (min-width: 1144px) {
    .txtOfer{
        max-width: 572px;
    }
	
	#pl_bannerOfertas .imgOfer:after{
		top: 65px;
        right: 205px;
    }
}

@media (min-width: 1150px) { 

    .txtOfer{
        padding-left: 3.5%;
    }
}

@media (min-width: 1250px) { 
    .txtOfer{
        padding-left: 0px;
        margin-left: 5.2%;
    }
	
	#pl_bannerOfertas .imgOfer:after{
		top: 80px;
		right: 230px;
    }
}

@media (min-width: 1366px) { 
    .arrowDownDesk {
        margin-left: -187px;
    }
	
	#pl_bannerOfertas .imgOfer:after{
        right: 250px;
		top: 96px;
    }
}

@media (min-width: 1440px) { 
    .txtOfer{
        margin-left: 7.5%;
    }
	
	#pl_bannerOfertas .imgOfer:after{
        right: 267px;
		top: 106px;
    }
}

@media (min-width: 1500px) { 
        
    .arrowDownDesk {
        margin-left: -215px;
    }
	
	#pl_bannerOfertas .imgOfer:after{
		right: 278px;
		top: 115px;
    }
}

@media (min-width: 1600px) { 
        
    .arrowDownDesk {
        margin-left: -276px;
    }
	
	#pl_bannerOfertas .imgOfer:after{
		right: 310px;
		top: 130px;
    }
}

@media (min-width: 1700px) { 
        
    .arrowDownDesk {
        margin-left: -323px;
    }
	
	#pl_bannerOfertas .imgOfer:after {
		right: 328px;
		top: 140px;
	}
}

@media (min-width: 1800px) { 
        
    .arrowDownDesk {
        margin-left: -368px;
    }
	
	#pl_bannerOfertas .imgOfer:after {
		right: 352px;
		top: 155px;
	}
}

@media (min-width: 1900px) { 
        
    .arrowDownDesk {
        margin-left: -398px;
    }
	
	#pl_bannerOfertas .imgOfer:after {
		right: 375px;
		top: 170px;
	}
}

@media (min-width: 1920px) { 
    .txtOfer{
        margin-left: 18.4%;
    }
}

@media (min-width: 2000px) { 
        
    .arrowDownDesk {
        margin-left: -450px;
    }
	
	#pl_bannerOfertas .imgOfer:after {
		right: 396px;
		top: 180px;
	}
} 

@media (min-width: 2100px){
	#pl_bannerOfertas .imgOfer:after {
		right: 415px;
		top: 190px;
	}
}

@media (min-width: 2200px) { 
	#pl_bannerOfertas .imgOfer:after {
		right: 435px;
		top: 200px;
	}
}

@media (min-width: 2300px){
	#pl_bannerOfertas .imgOfer:after {
		right: 460px;
		top: 215px;
	}
}

@media (min-width: 2400px){
	#pl_bannerOfertas .imgOfer:after {
		right: 485px;
		top: 235px;
	}
}

@media (min-width: 2500px){
	#pl_bannerOfertas .imgOfer:after {
		right: 515px;
		top: 245px;
	}
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 390px) {

}

@media (max-width: 576px) {

    .appsImgFija{
        padding: 0%!important;
    }
    
    .titleOfer{
        margin: -1% 0px -5% 0%!important;
    }

    .txtOfer .oi-sub-text{
        margin: 7.5% 0% 2% 0%;
    }

    .appsOfer li{
        padding: 0;
        margin:0;
        display: flex;
        align-items: center;
    }
    

    #pl_bannerOfertas .oi-section-text-head:after {
        content: "";
        background-image: url(../oi_imagens/ameba-detalhe-produto-1.png);
        background-size: 25% 25%;
        background-repeat: no-repeat;
        width: 8em;
        height: 8em;
        position: absolute;
        top: -35px;
        right: 51px;
        direction: inline;
        transform: rotate(156deg);
      }
	  
}

@media (min-width: 374px) {
    #pl_bannerOfertas .oi-section-text-head:after {
        top: -0.1em;
        right: 1.5em;
        width: 7em;
        height: 7em;
    }
}

@media (min-width: 424px) {
    #pl_bannerOfertas .oi-section-text-head:after {
        top: -0.5em;
        right: 1.5em;
    }
}